.main-view {
  height: calc(730 / 1440 * 100vw);
  background-image: url(../images/common/mv.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: center;
  padding-left: calc(191 / 1440 * 100vw);
  padding-top: rem(5);
}

.main-view__title {
  width: calc(658 / 1440 * 100vw);
}